*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

body p {
  font-family: "Roboto";
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 명확한 높이 설정 */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}
