body p {
  font-family: "Roboto";
}

.header {
  width: 100%;
  background-color: #4e5ba6;
  height: 64px;
  padding: 14px 130px;
  box-sizing: border-box;
}

.header_title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  color: white;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 84px 0px;
  box-sizing: border-box;
}

.body_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 414px;
  height: 727px;
  padding: 32px 16px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.body_title {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 24px;
  line-height: 1.5;
}

.purchase_wrapper {
  width: 100%;
  padding-top: 28px;
}

.purchase_input_wrapper {
  display: flex;
  align-items: center;
  padding-top: 4px;
  gap: 16px;
}

.body_text {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6;
}

.purchase_input {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #b4b4b4;
  padding: 6px 8px;
  box-sizing: border-box;
}

.purchase_button {
  width: 56px;
  height: 36px;
  border-radius: 4px;
  border: none;
  background-color: #4e5ba6;
  color: white;
}

.lotto_list_wrapper {
  width: 100%;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  align-items: flex-start;
}

.lotto_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding-top: 8px;
}

.lotto_row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.lotto_icon {
  font-size: 34px;
  text-align: center;
  padding-top: 4px;
}

.number_input_form {
  padding-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.number_input_container {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.number_input_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.number_input_wrapper {
  display: flex;
  gap: 8px;
}

.number_input {
  width: 34px;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #b4b4b4;
  box-sizing: border-box;
  padding: 8px;
}

.result_button_wrapper {
  padding-top: 28px;
  width: 100%;
}

.result_button {
  width: 100%;
  height: 36px;
  padding: 6px;
  border-radius: 4px;
  background-color: #4e5ba6;
  border: none;
  color: white;
}

.modal_backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 0;
}

.modal_container {
  width: 350px;
  height: max-content;
  padding: 16px;
  border-radius: 4px;
  background-color: white;
  border: none;
}

.modal_close_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal_close_button {
  border: none;
  background-color: white;
}

.modal_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.modal_title {
  padding-top: 10px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.modal_table {
  width: 100%;
}

.modal_table_divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

.modal_table_row {
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
}

.modal_table_cell {
  flex: 1;
  text-align: center;
}

.modal_profit_text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
}

.restart_button {
  width: 100%;
  height: 36px;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background-color: #4e5ba6;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}
